
# Application Config
PORT=3000
#NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=Justin99
DB_NAME=broach

REFRESH_TOKEN_TTL=604800000
REFRESH_TOKEN_EXPIRY_DAYS=30

BCRYPT_SALT_ROUNDS=10
# PostgreSQL Database

DATABASE_URL=
REDIS_URL=


JWT_SECRET=82b084667465c1a31fdf958b7592f2299189b3d182c0af9f1051695ac1c9d81a385af17d022da08fb0cd63c12d086342d87982c1c5fffc5f158c07cee427d980
JWT_EXPIRATION=60m

JWT_REFRESH_SECRET=superstrongaccesssecret
JWT_REFRESH_EXPIRATION=7d

## Password Reset credentials
PASSWORD_RESET_EXPIRY=10


##Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=dlw4qrbjk
CLOUDINARY_API_KEY=545671399668556
CLOUDINARY_API_SECRET=vNONxIqa-l1ki5-Vk1ggf4bnmy0
